<!DOCTYPE html>
<html>
    <head>
        <title>HelloSign</title>
    </head>
    <body>
        <div id="sign-area">
        </div>
    </body>
<script src="https://cdn.hellosign.com/public/js/embedded/v2.9.0/embedded.production.min.js"></script>
<script type="text/javascript">
    const signUrl = '<%= signUrl %>'
    // const client = new window.HelloSign({
    //     clientId: 'Your client ID'
    // });
    function getSignUrl(signUrl) {
        const client = new HelloSign()

        client.open(signUrl, {
        clientId: '<%= clientId %>',
        skipDomainVerification: true,
        container: document.getElementById('sign-area'),
        redirectTo: '/payment/update/'
        })
    }
    document.addEventListener("DOMContentLoaded", getSignUrl(signUrl))
</script>
</html>